# DON'T FORGET TO RENAME TO .env OR .env.local BEFORE PUSHING TO GIT

### DEVELOPMENT ONLY VARIABLES
# These variables need to be set for local development only

# Mandatory next-auth URL for localhost
NEXTAUTH_URL=http://app.localhost:3000
 
### PRODUCTION & DEVELOPMENT VARIABLES
# These variables need to be set for local development and when deployed on Vercel

# Change this to your own domain
# NEXT_PUBLIC_ROOT_DOMAIN=vercel.pub

# PostgreSQL database URL – get one here: https://vercel.com/docs/storage/vercel-postgres/quickstart
MONGODB_URL=mongodb+srv://admin:Kdigi123@appgallerydev.bxz7xi7.mongodb.net/testing-db


# Vercel Blob Storage for image uploads – currently in beta, please fill out this form for access: https://tally.so/r/nPDMNd. Setup instructions: https://vercel.com/docs/storage/vercel-blob/quickstart
BLOB_READ_WRITE_TOKEN=

# GitHub OAuth secrets for auth & login – generate these here: https://github-client-generator.vercel.app/
NEXTAUTH_SECRET=2bfea0e9d29565deb1a8473163454b38
AUTH_SECRET=2bfea0e9d29565deb1a8473163454b38
AUTH_GITHUB_ID=Iv1.f4979d36ddfd194b
AUTH_GITHUB_SECRET=5cbcb6dec856c09aa63c790ebfa5ef0369bec780

# Vercel authentication token that can be found here: https://vercel.com/account/tokens
AUTH_BEARER_TOKEN=Ersv3mQAlWaOW9GrYNCUvUx0
# Vercel Project ID that can be found here: https://vercel.com/<org>/<project>/settings
PROJECT_ID_VERCEL=prj_Zf7tV30SwoMSG0s0P20SduPGah5g
# Vercel Team ID that can be found here: https://vercel.com/teams/<org>/settings
TEAM_ID_VERCEL=

# OpenAI API key for AI text generation – get one here: https://platform.openai.com/account/api-keys
OPENAI_API_KEY=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
